
@font-face {
  font-family: "iconfont";
  src:url(./iconfont.ttf?t=1510744515510) format('truetype');

}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* 空心圆*/
 .icon-kongxinyuan:before { content: "\e600"; width: 14px;height: 14px;font-size: 14px;}

 /* 实心圆*/
.icon-dot-tiny:before { content: "\e601";width: 14px;height: 14px; font-size: 14px;}

 /*白色三角形*/
.icon-triangle-copy:before { content: "\e607"; font-size:12px ;}  

 /*蓝色三角形*/
.icon-triangle-open:before { content: "\e636"; color: #2bc8f3; font-size:12px ;}

/*主页*/
.icon-zhuye:before { content: "\e614"; font-size:18px ;}

 /*系统管理*/
.icon-fenxiang:before { content: "\e635"; font-size:14px ;} 

/*推送管理*/
.icon-tuisong:before { content: "\e648";font-size:18px ;}

/*服务中心 */
.icon-fuwuzhongxin:before { content: "\e62b";font-size:18px ; }

/*提现管理*/ 
.icon-tixian:before { content: "\e60b";font-size:18px ; }

/*优惠券管理**/
.icon-youhuiquanguanli:before { content: "\e741";font-size:18px ; }

/*系统管理*/
.icon-guanli:before { content: "\e622";font-size:18px ; }

/*风控管理*/
.icon-renzheng:before { content: "\e692";font-size:18px ; }

/*红包管理*/
.icon-hongbao:before { content: "\e67d";font-size:18px ; }

/*系统工具*/
.icon-gongju:before { content: "\e631"; font-size:18px ;}

/*发现管理*/
.icon-faxianguanli:before { content: "\e6aa";font-size:18px ; }

/*交易管理*/
.icon-jiekuan:before { content: "\e637";font-size:18px ; }

/*易分期管理*/
.icon-fenqi:before { content: "\e60e";font-size:18px ; }

/*统计管理*/
.icon--tongjiguanli:before { content: "\e6e1"; font-size:14px ;}

/*监控管理*/
.icon-zhuangtaijiankong:before { content: "\e6d2"; font-size:14px ; }


/*用户*/
.icon-yonghu:before { content: "\e604"; color: #1285e8;}

/*编辑*/
.icon-bianji:before { content: "\e63b"; color:#1bc3ca;font-size: 17px;}

/*修改手机号码*/
.icon-unie620:before { content: "\e633"; color: #f2d015;}

/*分享*/
.icon-fenxiang2:before { content: "\e63e"; color: #628df8;}

/*关闭*/
.icon-guanbiad:before { content: "\e6fa"; font-size: 17px;color:#f3457e;}

/*地址*/
.icon-dizhi:before { content: "\e65b"; }

/*工作台*/
.icon-gongzuotai:before { content: "\e602";  font-size: 20px; }

/*收入*/
.icon-iconfontqitashouru:before { content: "\e608"; }

/*消费*/
.icon-xiaofei:before { content: "\e625"; }

/*资金*/
.icon-zijin:before { content: "\e615"; }

/*返回*/
.icon-fanhui:before { content: "\e60f"; }

/*关闭*/
.icon-svg26:before { content: "\e83f"; color: #f37930;}

/*选中*/
.icon-xuanzhong:before { content: "\e65c"; }

/*未选中*/
.icon-weixuanzhong:before { content: "\e664"; }

/*运营管理*/
.icon-yunying:before { content: "\e634";  font-size: 18px;}
/*电话*/
.icon-09dianhua:before { content: "\e621"; font-size: 16px;}
/*钉子*/
.icon-icon-test:before { content: "\e63f"; }
/*发送短信*/
.icon-duanxinfasong:before { content: "\e657"; font-size: 23px;}

/*催收管理*/
.icon-cuicushouhuotixing:before { content: "\e605";font-size: 18px; }

/*客服管理*/
.icon-kefu:before { content: "\e719"; font-size: 18px;}

/*统计管理*/
.icon-tongji:before { content: "\e67f"; font-size: 18px;}

/*注销*/
.icon-zhuxiao:before { content: "\e61d"; }

/*推广*/
.icon-tuiguang-copy:before { content: "\e67e"; }
/*详情*/
.icon-details:before { content: "\e640"; }

/*优惠券发放 -- 大厅发放*/
.icon-datingfafang:before { content: "\e6d7"; }
/*优惠券发放 -- 系统发放*/
.icon-xitongfafang:before { content: "\e64b"; }

/*导航关闭按钮*/
.icon-07jiantouxiangyou:before { content: "\e616"; font-size: 22px; color: #bbb;}

.icon-07jiantouxiangzuo:before { content: "\e618";font-size: 22px; color: #bbb;}
